.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    // margin-bottom: 50px;

    .messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 30px;
        overflow-y: scroll;
        scrollbar-width: thin;

        h1 {
            font-weight: 300;
        }

        .message {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            font-size: 12px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                font-weight: bold;
                font-size: 12px;
            }
        }
    }

    .chatBox {
        flex: 1;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            background-color: #f7c14b85;
            padding: 7px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

            }
            .close {
                cursor: pointer;
            }
        }

        .centre {
            height: 180px;
            overflow-y: scroll;
            scrollbar-width: thin;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .chatMessage {
                width: 50%;

                &.own {
                    align-self: flex-end;
                    text-align: right;
                }

                p {
                    font-size: 13px;
                }

                span {
                    font-size: 10px;
                    background-color: #f7c14b39;
                    padding: 2px;
                    border-radius: 5px;
                }
            }

        }
        .bottom {
            border-top: 2px solid #f7c14b85;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            textarea {
                flex: 3;
                height: 100%;
                border: none;
                padding: 10px;
            }

            button {
                flex: 1;
                height: 100%;
                background-color: #f7c14b85;
                border: none;
                cursor: pointer;
            }
        }
    }
}